<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Project Indigo{% block title %}{% endblock %}</title>

	<link rel="stylesheet" type"text/css" href="/static/indigo/css/base.css" />
</head>


<body>

	<div id="page">
		<div id="header">
			<h2>Project Indigo</h2>
			<p>Agile project management made easy!</p>
		</div>	

		<div id="menu">
			<ul>
				{% block menuElements %}
				{# <li>Users</li> #}
				<li><a href="projects/">Projects</a></li>
				<li><a href="users/">Users</a></li>
				{% endblock %}
			</ul>
		</div>

		<div id="content">
		{% block content %}{% endblock %}
		</div>
	</div>

</body>
</html>
