<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Project Indigo{% block title %}{% endblock %}</title>

	<link rel="stylesheet" type"text/css" href="/static/indigo/css/base.css" />

	{% comment %} tee hee {% endcomment %}
	{% block more_head %} {% endblock %}
</head>


<body>

	<div id="page">
		<div id="header">
			<h2><a href="/indigo">Project Indigo</a></h2>
			<p>Agile project management made easy!</p>
		</div>

		<div id="menu">
			<ul>
				{% block menuElements %}
				<li><a href="/indigo/project/">Projects</a></li>
				<li><a href="/indigo/registration/">Registration</a></li>
				<li><a href="/indigo/login/">Login</a></li>
				{% endblock %}
			</ul>
		</div>

		<div id="content">
		{% block content %} {% endblock %}
		</div>
	</div>

</body>
</html>
