{% extends "base.html" %}

{% block more_head %}
	<link rel="stylesheet" href="/static/indigo/css/project.detail.css" />
{% endblock %}

{% block content %}
	<h3 id="name">{{ iteration.name }}</h3>

	<table>
		<tr>
			<td>Project:</td><td><a href="/indigo/project/{{project.id}}/">{{ project.name }}</a></td>
		</tr>
		<tr>
			<td>Velocity:</td><td>{{ project.velocity }}</td>
		</tr>
		<tr>
			<td>Task point timescale:</td><td>{{ project.task_point_timescale }}</td>
		</tr>
	</table>

  <hr />
  <p><b>Tasks:</b></p>
  <p><a href="/indigo/project/{{project.id}}/iteration/{{iteration.number}}/task/add/">Add new Task</a></p>

  <ul>
		{% for task in tasks %}
		<li><a href="/indigo/project/{{project.id}}/iteration/{{iteration.number}}/task/{{task.number}}/">{{ task.name }}</a></li>
		{% endfor %}
  </ul>

{% endblock %}
